@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1b1b1b;
    background-size: cover;
    background-position: center;
}

.headernav{
    margin-left: auto;
    margin-right: auto;
    
}

header{

    height: 118px;
    text-align: center;
    
}

nav{
    background-color: #1b1b1b;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 10px;
    margin: 20px 20px;
}

.section{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}


.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding:12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover{
    background-color: #a52a2a;
    color:#fff
}

.content-section .social{
    margin: 40px 40px;
}

.content-section .social i{
    color:#a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover{
    color: #a52a2a;
}

@media screen and (max-width: 768px){
    .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 50px;
}

.content-section{
    float:none;
    width:100%;
    display:block;
    margin:auto;
}


.content-section .title{
    text-align: center;
    font-size: 19px;   
}

.content-section .content .button{
    text-align: center;
}

.content-section .content .button a{
    padding: 9px 30px;
}

.content-section .social{
    text-align: center;
}
}

.image-section{
    float:right;
    width:40%
}

.image-section img{
    width: 100%;
    height: auto;
}

footer{
    /* background-color: rgba(0,0,0,0.26);
    text-align: center;
    padding-top:25px;
    padding-bottom:25px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1b1b1b;
    color: white;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
    letter-spacing: 1px;
}

footer p{
    font-size: 12px;
    text-align:center;
    color: white;
}