@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height:125%;
}
body{
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.headernav{
    margin-left: auto;
    margin-right: auto;
    
}

header{
    background-color: #1b1b1b;
    height: 118px;
    text-align: center;
}

nav{
    background-color: #1b1b1b;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;

}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 10px;
    margin: 20px 20px;
}
body{
    background-color: #2F3035;
    background-image: url(images/ant-rozetsky-HXOllTSwrpM-unsplash.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
    margin-left: auto;
    margin-right: auto;

}

.container .maps{
    margin-left:auto;
    margin-right:auto;
    width:1024px;
}

main{
    height: 400px;
    text-align: center;
    padding-top: 125px;
    padding-left: 240px;
    padding-right: 240px;
}

main a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

footer{
    /* background-color: rgba(0,0,0,0.26);
    text-align: center;
    padding-top:25px;
    padding-bottom:25px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1b1b1b;
    color: white;
    text-align: center;
    padding-top:25px;
    padding-bottom:25px;
    letter-spacing: 1px;
}

h1{
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

p{
    font-size: 26px;
    margin-top:5px;
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} */

/* nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
} */

footer p{
    font-size: 12px;
    text-align:center;
    color: white;
}

.menu{
    text-align: center;
}
